{% extends '_primary_layout.html' %}
{% block title %}Data Download{% endblock %}

{% block content %}
<h1 style="font-family: Tahoma; padding-top: 50px;"><center><b>LP DAAC Data Download</b></h1></center>
    <div class="container">
        <div class="row">
                <h3 style="font-family: Tahoma; padding-top: 15px;"><center>Information</center></h3>
                    <p class="lead"> The Global Cropland project has data on NASA's Land Processes Distributed
                        Active Archive Center (<a href="https://lpdaac.usgs.gov/">LP DAAC</a>). LP DAAC is located within
                        USGS's Earth Resources Observation and Science (EROS) Center.  To Download Data, you will need
                        to log-in or sign up for an account.  You can create an account <a href="https://urs.earthdata.nasa.gov/users/new">
                            here</a>.  Currently, the GFSAD30 project has two data sets available for download. </p>

                    <h3 style="font-family: Tahoma; padding-top: 15px;"><center>Data Available for Download on LP DAAC</h3></center><br>
                        <table style="width:100%">
                            <tr>
                                <th>Product</th>
                                <th>Full Name</th>
                                <th>Documentation Link</th>
                                <th>Download Link</th>
                                </tr>
                            <tr>
                                <td>GFSADCD1KM</td>
                                <td>GCE 1km Crop Dominance</td>
                                <td><a href="http://e4ftl01.cr.usgs.gov/provisional/MEaSUREs/GFSAD/GFSADCD1KM/01-readme/01a-readme-global-croplandsa.docx">
                            Readme</td>
                                <td><a href="http://e4ftl01.cr.usgs.gov/provisional/MEaSUREs/GFSAD/GFSADCD1KM/02-data/">Data Download</a></td>
                            </tr>
                            <tr>
                                <td>GSFADCM1KM</td>
                                <td>GCE 1km Multi-Study Crop Mask</td>
                                <td><a href="http://e4ftl01.cr.usgs.gov/provisional/MEaSUREs/GFSAD/GFSADCM1KM/01-readme/01a-readme-global-croplands_V1.0a.docx">
                                Readme</a></td>
                                <td><a href= "http://e4ftl01.cr.usgs.gov/provisional/MEaSUREs/GFSAD/GFSADCM1KM/02-data/">
                                Data Download</a></td>
                            </tr>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    <h2 style="font-family: Tahoma; padding-top: 10px;"><center>
                    Click <a href="http://e4ftl01.cr.usgs.gov/provisional/MEaSUREs/GFSAD/">here</a> to explore our data
                    on LP DAAC
                </h2></center>







    <style type="text/css">
    .column-left{ float: left; width: 50%; padding: 5px 0px 15px 350px}
    .column-right{ float: right; width: 50%; padding: 5px 0px 15px 50px }

</style>

{% endblock %}
