{% extends '_primary_layout.html' %}
{% block title %}Data Download{% endblock %}

{% block content %}
<h1 style="font-family: Tahoma; padding-top: 50px;"><center><b>LP DAAC Data Download</b></h1>
    <h3 style="font-family: Tahoma; padding-top: 50px;"><center>
        Instructions listed here </h3></center>
    <h2 style="font-family: Tahoma; padding-top: 50px;"><center>
        Click <a href="http://lpdaacsvc.cr.usgs.gov/provisional/MEaSUREs/GFSAD/">here</a> to download data</h2></center>

{% endblock %}
