{% extends '_primary_layout.html' %}
{% block title %}Data Download{% endblock %}

{% block content %}

    <h1 style="font-family: Tahoma; padding-top: 50px;">
        <center><b>Global Food Security Analysis-Support Data at 30 Meters Documents</b>
    </h1></center>
    <div class="container">
        <div class="row">
                <h3 style="font-family: Tahoma; padding-top: 10px;"><center>Helpful Documents and Publications</center></h3>
                <table style="width:100%">
                            <tr>
                                <th>Title</th>
{#                                <th>Authors</th>#}
{#                                <th>Year</th>#}
                                <th>Document Link</th>
                                </tr>
                             <tr>
                                <td>GFSAD Team Map</td>
                                <td><a href="https://lh3.googleusercontent.com/bteoG87hXK469t7JdNYaa75d3l7Iis5KLOvuZtxLoPeL0trPSK6Q3QtMkMfIrpjJM1Tkj7vpN3SaZ0roc0E_YW14h7NQ-3tF9sx1TrqTOfeludj7KVXCAjW_aO5OODMQdmwnL50O89807nOxBcJG-nT6xPNbgzZfT2bDFK4utK6s4Xmiw4gOZBOKiUce0o0bTyURt_Kc0rjcCl5ioS5tw4nJc9-37YrHe9Refsb7qoNAhp-kw1xXDczaaOrdwoKmstKFHDPdtcDva8NvrqkbAdsZVzQoO9jCbGtbr29Cp59Po4DgrC-XyXKs2MMcy9d95jiBh2GpfVyKz1w2jbPS0VM4YvMbRQM17XUMv8AaiGpa6bK0Eq4Op3nG4g3QqK_5di8JfinSg3YvVSS8F2Q133QmjuyszGos4HoWcinVLrY6b6A4tFixtdexZsTpMQnqK0cHS1ZVDHfkrS3BoaEA9usWplcxAwhQZp6JCt_63Mti99vpVUKx2tZZk2of_p_IlB8HI_8IugdPLZ7xbU5RjsHU7Na7Y-nYzzVVtdJ6FMF5SGF0JVfvTfEQX2X4pbQjybCo-qeKW4OwAPEJF2a_SNbkhhJQKMXyVlVf698nKQ885qCcW0c=w1763-h950-no">Map</a></td>
                            </tr>
                            <tr>
                                <td>Croplands Data Definitions</td>
                                <td><a href="https://d2bol3etyblasz.cloudfront.net/docs/Croplands-definitions-1d.pdf">PDF</a></td>
                            </tr>
                            <tr>
                                <td>Current Achievements and Future Possibilities</td>
                                <td><a href="http://geography.wr.usgs.gov/science/croplands/docs/Teluguntla-thenkabail-xiong-etal-global-croplands-mask.pdf">PDF</a></td>
                            </tr>
                            <tr>
                                <td>Additional Publications</td>
                                <td><a href="http://geography.wr.usgs.gov/science/croplands/pubs2014.html">Go to GFSAD30 USGS Site</a></td>
                            </tr>
                </table>


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #237c28;
    border-color: #1c6220;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: bottom;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}
{% block scripts_footer %}
{% endblock %}

