{% extends '_primary_layout.html' %}
{% block title %}Data Download{% endblock %}

{% block content %}

    <h1 style="font-family: Tahoma; padding-top: 50px;">
        <center><b>Global Food Security Analysis-Support Data at 30 Meters Documents</b>
    </h1></center>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 style="font-family: Tahoma; padding-top: 50px;">Helpful Documents and Publications</h3>
                <p class="lead"><a href="https://d2bol3etyblasz.cloudfront.net/docs/Croplands-definitions-1d.pdf">
                    Croplands Data Definitions</a></p>
                <p class="lead"> <a href="http://geography.wr.usgs.gov/science/croplands/docs/Teluguntla-thenkabail-xiong-etal-global-croplands-mask.pdf">Current Achievements and Future Possibilities</a>
                <p class="lead"><a href="http://geography.wr.usgs.gov/science/croplands/pubs2014.html">Additional Publications</a> </p>
{#                <p class="lead">More Papers Coming Soon</p>#}



{% endblock %}
{% block scripts_footer %}
{% endblock %}